#previewMain{
    /* border: 1px solid white; */
    display: grid;
    grid-template: 1fr 1fr /1fr;
}
#previewMain>div{
    display: grid;
    grid-template: .2fr 1fr /1fr;

    margin: 1rem;
    border: 1px solid white;
}