#sidePanel {
    display: grid;
    grid-template: .4fr 1fr .5fr/ 1fr;
    padding: 1rem;
}

#sidePanel>div {
    display: grid;
    justify-content: center;
    text-align: justify;

    margin-top: 1rem;
    padding: 1rem;

    background-color: #242424;
    border-radius: 10px;
    /* border: 1px solid red; */
}

#sidePanel>div:last-child {
    grid-template: 2fr 1fr 1fr 1fr/ 1fr;
    padding: 2rem;
}

#sidePanel>div:last-child>p {
    font-size: 1.2rem;
}

#sidePanel>div:first-child {
    margin-top: 0;
    align-items: center;
}

#sidePanel>div:nth-child(2) {
    grid-template: .2fr 1fr/ 1fr;
}