#sidePanel {
    display: grid;
    grid-template: .2fr 1fr 1fr/ 1fr;
}

#sidePanel>div {
    display: grid;
    justify-content: center;
    text-align: justify;

    margin: 2rem;
    margin-bottom: 0;
    padding: 1rem;

    background-color: #242424;
    border-radius: 10px;
    /* border: 1px solid red; */
}