*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

nav{
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr 1fr 1fr;
    font-size: 1.2rem;
    padding: 0 5rem 0 5rem;
}

nav>div{
    text-align: center;
}

.index{
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template: 1fr / 20% 80%;
}

#main-div{
    height: 90%;
    width: 97%;
    align-self: center;
    display: grid;
    grid-template: 1fr/ 25% 75%;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
}

.img{
    aspect-ratio: 16/9;
    height: 50%;
    background-image: url("../pascal-debrunner-csQ3Bad5b8M-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: -300px;
    border-radius: 20px;
}

.para{
    padding: 0 2rem 0 2rem;
    justify-self: center;
    text-align: center;
}