@font-face {
    font-family: FiraCodeNerdFont;
    src: url(/fonts/FiraCodeNerdFontPropo-Light.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: FiraCodeNerdFont;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr 1fr 1fr;
    font-size: 1.2rem;
    padding: 0 5rem 0 5rem;
}

nav>* {
    text-align: center;
    text-decoration: none;
}

.index {
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template: 1fr / 20% 80%;
    padding: 1.5rem;
    display: grid;
    grid-template: 1fr/1fr;
}

.index>div {
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    display: grid;
    grid-template: 1fr/70% 30%;
}

#Head {
    /* border: 2px solid white; */
    align-self: center;
    padding: 10rem;
}

#Head>h1 {
    font-size: 6rem;
}

.img {
    height: 3rem;
    width: 3rem;
    background-size: contain;
    /* background-size: 20rem; */
}

#RP_head {
    padding: 2rem 2rem 0rem 2rem;
    background-color: rgb(27, 27, 27);
}

#recent_projects {
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr;
    background-color: rgb(27, 27, 27);
    /* gap: 2rem; */
    /*! alert: Might have to remove this later */
    /* height: 100vh; */
}

#recent_projects>div {
    border-radius: 10px;
    margin: 2rem;
    background-color: rgb(36, 36, 36);

    display: grid;
    /* grid-template: 2fr 2fr 1fr/ 1fr; */
    grid-template: 35% 45% 20%/ 1fr;
}

.heading,
.para {
    font-size: 2rem;
    padding: 1.5rem;
}

.para {
    font-size: 1rem;
}

.para~a {
    align-self: center;
    justify-self: self-end;
    /* padding: 10px 10px 10px 10px ; */
    padding: 20px;
    font-size: 1.3rem;
}