@font-face {
    font-family: FiraCodeNerdFont;
    src: url(../github_pages/fonts/FiraCodeNerdFontPropo-Light.ttf)
}

:root {
    --fs-head-main: 6rem;
    --fs--para: 1.5rem;
    --fs-head: 2rem;
    --fs-small: 1.3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: FiraCodeNerdFont;
    overflow-x: hidden;
}

nav {
    width: 100%;
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr 1fr 1fr;
    font-size: var(--fs-small);
    padding: 0 5rem 0 5rem;
}

nav>* {
    text-align: center;
    text-decoration: none;
}

nav>a:hover {
    border-bottom: 2px solid white;
}

.active {
    border-bottom: 2px solid white;
}

.index {
    background-color: rgb(36, 36, 36);
    width: 100%;
    min-height: 90vh;
    display: grid;
    padding: 1.5rem;
    grid-template: 1fr/1fr;
    overflow: hidden;
}

.index>div {
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    display: grid;
    grid-template: 1fr/70% 30%;
}

#Head {
    /* border: 2px solid white; */
    align-self: center;
    padding: 10rem;
    min-width: fit-content;
}

@media screen and (max-width:800px) {
    .index>div {
        grid-template: 1fr/1fr;
    }

    #Head {
        padding: 3rem;
        min-width: 100%;
    }
}

#Head>p {
    min-width: fit-content;
    font-size: var(--fs-small);
}

#Head>h1 {
    min-width: fit-content;
    font-size: var(--fs-head-main);
}

#RP_head {
    font-size: var(--fs-head);
    padding: 2rem 2rem 0rem 2rem;
    background-color: rgb(27, 27, 27);
}

#recent_projects {
    display: grid;
    grid-template: 50% 50% /50% 50%;
    background-color: rgb(27, 27, 27);
    min-height: 90vh;
}

#recent_projects>div {
    border-radius: 10px;
    margin: 2rem;
    background-color: rgb(36, 36, 36);
    display: grid;
    grid-template: 35% 45% 20%/ 1fr;
    overflow: hidden;
}

.heading,
.para {
    overflow: hidden;
    font-size: var(--fs-head);
    padding: 1.5rem;
}

.para {
    font-size: var(--fs-small);
}

.para~a {
    align-self: center;
    justify-self: self-end;
    padding: 20px;
    font-size: var(--fs-small);
}

.project-section {
    background-color: rgb(27, 27, 27);
    width: 100%;
    min-height: 90vh;
}

#content {
    grid-template-columns: 50% 50%;
    display: grid;
    grid-auto-flow: row;
    overflow: hidden;
}

#content>div {
    overflow: hidden;
    margin: 2rem;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    display: grid;
    grid-template: 35% 45% 20%/ 1fr;
}

#about-page {
    background-color: rgb(36, 36, 36);
    min-height: 90vh;
    grid-template: 1fr/1fr;
    display: grid;
    overflow: hidden;
}

.content-about {
    background-color: rgb(27, 27, 27);
    margin: 1.5rem;
    border-radius: 10px;
    display: grid;

}

.content-about>div {
    overflow: hidden;
    margin: 2rem;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    display: grid;
    grid-template: 25% 75%/ 1fr;
}

.about-head,
.about-para {
    font-size: var(--fs-head);
    margin: 0;
    padding: 1.5rem;
    overflow: hidden;
}

.about-para{
    font-size: var(--fs--small);
}


@media screen and (max-width:800px) {

    #recent_projects,
    #content {
        grid-template: 1fr /1fr;
        grid-auto-flow: row;
    }

    :root {
        --fs-head-main: 2.7rem;
        --fs-head: 1.5rem;
        --fs--para: 1rem;
        --fs-small: 1.1rem;
    }

    nav {
        padding: 0 3rem 0 3rem;
    }
}