@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100vh;
    padding: .5rem;
    background-image: url(background-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    /* gap: 2rem; */
    font-family: 'Ubuntu', sans-serif;/
}

/** basic layout setup  */
#top {
    display: grid;
    grid-template: 1fr/3fr 2fr;
    gap: 2rem;
    color: white;
}

#bottom {
    display: grid;
    grid-template: 1fr/1fr 3fr;
    gap: 2rem;
}

#current {
    margin: 1rem;
    display: grid;
    grid-template: 2fr 1fr 1fr/1fr;
    /* frost effect */
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.342);
}

#info {
    margin: 1rem;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    /* frost effect */
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.342);

}

#today {
    margin: 1rem;
    display: grid;
    color: aliceblue;
    grid-template: 1fr 2fr 2fr / 1fr 1fr;
    /* frost effect */
    border-radius: 10px;
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.326);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.342);
}

#hours {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;

}

/* 
#hours>div {
    margin: 1rem;
    frost effect
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.342);
} */

/** basic layout setup  */


/** current style */
#current-top {
    display: grid;
    grid-template: 1fr/ 2fr 1fr 1fr;
}

#icon {
    padding: 2.3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#temp {
    display: grid;
    font-size: 7rem;
    color: white;
    padding: 0 0 0 3rem;
    align-items: end;
}

#location {
    display: grid;
    font-size: 2.5rem;
    color: white;
    padding: 0 0 1rem 0;
    align-items: end;
}

#current-mid,
#current-bottom {
    padding: 0 0 0 3rem;
    display: grid;
    font-size: 2rem;
    align-items: start;
}

/** current style */

/** info style */
#info>div {
    display: grid;
    align-items: center;
    padding: 1.5rem;
    /* justify-content: center; */
    font-size: 1.5rem;
}

/** info style */


/** today style */
#today>div>div {
    /* border: 1px solid black; */
    display: grid;
    align-items: center;
    padding: .7rem;
}

#today {
    color: aliceblue;
}

#current-day {
    /* grid-row: ; */
    display: grid;
    padding: .7rem;
    align-items: end;
    font-size: 1.4rem;
    grid-column: 1/3;
}

#temp-con {
    display: grid;
}

#today-info {
    display: grid;
}

#sun {
    display: grid;
}

#moon {
    display: grid;
}

/** today style */

/** Hour style */

#hour1,
#hour2,
#hour3 {
    margin: 1rem;
    /* frost effect */
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.342);
    display: grid;
    grid-template: 40% 20% 40%/1fr;
}

#hour1-top,
#hour2-top,
#hour3-top {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

#hour1-bottom,
#hour2-bottom,
#hour3-bottom {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

#hour1-info, #hour2-info, #hour3-info{
    display: grid;
    grid-template: 1fr 1fr/ 1fr ;
}


/** Hour style */