* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #F1F6F9;
    background-image: url(blurry-gradient-haikei.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#container {
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

#calculatorBody {
    border: 1px solid rgb(0, 0, 0);
    width: 21%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #212A3E;
    box-shadow: 6px 2px 5px #212A3E

}

#display-outline {
    width: 98%;
    height: 150px;
    /* border: 1px solid rgb(0, 0, 0); */
    margin: 2px;
    border-radius: 5px;
    background-color: #9BA4B5;
    color: #333333;
    /* text-align: right; */
    text-align: start;
    font-size: 30px;
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    /* align-items: right; */
}

#display {
    padding: 10px;
    width: 100%;
    /* border: 2px solid black; */
    text-align: right;

}


#control {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: fit-content;
    /* border: 2px solid rgb(255, 0, 0); */
}

.btn-style {
    margin: 5px;
    width: 93px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #F1F6F9;
    background-color: #212A3E;
    /* background-color: #F1F6F9; */
    -webkit-box-shadow: 0 0 10px hsl(252, 20%, 10%);
    box-shadow: 0 0 10px hsl(252, 20%, 10%);
}

.btn-style:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 0 0 5px hsl(252, 20%, 10%);
    /* Lowering the shadow */
}