*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color: #bd93f9;
    font-family: 'VTFMisterPixelRegular';
    text-shadow: 5px 6px 9px rgba(0,0,0,0.48);
}

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    background-color: #282a36;
    grid-template:1fr 5fr/ 1fr ;
    /* justify-content: center */
}
#board{
    justify-self: center;
    height: 50vh;
    width: 25%;
    display: grid;
    grid-template:1fr 1fr 1fr/ 1fr 1fr 1fr ;
    grid-gap: .5rem;
}

.squares{
    border: 1px solid #bd93f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 30px 24px 30px 11px;

}

.head{
    height: 100%;
    background-color: #44475a;
    color: #bd93f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #282a36;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    color: #bd93f9;
}

.parent > h1{
    font-size: 3.5rem;
}

#start{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.display{
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template: 1fr 5fr/ 1fr 1fr 1fr;
    margin: 2rem;
    /* gap: 2rem; */
}

.display-name{
    font-size: 2rem;
    align-self: center;
    justify-self: center;
}

.vs{
    display: grid;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    font-size: 5rem;
    grid-column: 2/3;
    grid-row: 1/3;
    width: 75%;
    height: 100%;
    /* border: 2px solid #bd93f9; */
}

.display-cards{
    font-size: 5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    /* border: 2px solid #bd93f9; */
    border: 1px solid #282a36; 
    width: 75%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 30px 24px 30px 11px;
    background-color: #44475a;

}

.button{
    /* margin: 2rem; */
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    grid-column: 1/4;
}

#btn{
    background-color: #44475a;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    border: 1px solid #282a36;
    box-shadow: rgba(0,0,0,0.1) 30px 24px 30px 11px;

}

#btn:active{
    transform: scale(.95);
}