*{
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
}

.div {
  background-color: gray;
  color: white;
  border-radius: 10px;
  height: 95vh;
}

nav {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  background-color: rgb(29, 29, 29);
  color: white;
  align-items: center;
  margin: 0rem;
  padding: 2rem;
}

nav>div{
  justify-self: center;
}

.btn{
  margin: 2rem;
  padding: 10px;
  background-color: rgb(73, 73, 73);
  border-radius: 10px;
  color: white;
}