* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    /* border: 2px solid black; */
}

.root {
    /* padding-left:50px; */
    /* display: flex; */
}



/** navbar */
.nav {

    height: 50px;
    display: flex;
    padding: 3px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

#head {
    padding-left: 80px;
    font-size: 24px;
}

.ullist {
    padding-right: 80px;
    display: flex;
    list-style: none;
    padding: 3px;
    align-items: center;
    justify-content: space-evenly;
    width: 470px;
}

/** navbar */


.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    background-color: #1f2937;
    color: #e5e7eb;
}

.page-text {
    padding: 100px;
    width: fit-content;
    font-size: 18px;
}

.home-text {
    font-size: 48px;
}

.btn {
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #ffffff;
    width: 75px;
    height: 30px;
}

.image {
    display: flex;
    width: 500px;
    height: 200px;
    background-color: #6d6d6d;
    justify-self: center;
    align-self: center;
    /* background-image: url(/600x350.svg); */
}

.info {
    height: 300px;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.info-head {
    /* border: 2px solid rgb(34, 0, 255); */
    font-size: 20px;
    width: 100%;
    align-self: center;
    justify-self: center;
    padding: 25px;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: fit-content;
    /* border: 2px solid black; */
    align-items: center;

}

.blocks {
    width: 120px;
    height: 120px;
    border: 3px solid #3882f6;
    border-radius: 7px;
    margin: 7px;
}

.childern {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid rgb(185, 33, 33); */
    width: 120px;
    height: 150px;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 190px;
    background-color: #e5e7eb;
    padding: 20px;
}

.quote-para {
    width: 45%;
    height: 150px;
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    align-self: center;

}

.quote-para-1 {
    /* width: 50%; */
    /* height: fit-content; */
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
    /* padding: 40px; */
}

.sign-up {
    width: 100%;
    height: fit-content;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 5px;
    width: 50%;
    height: fit-content;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 40px;
}

.btn-div{
    padding-left: 60px;
}

.btn-1 {
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #ffffff;
    width: 75px;
    height: 30px;
    border: 1px solid white;
    /* display: flex; */
    /* align-self: center; */
}

.card-para{
    display: flex;
    align-items: center;
}



.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}